In [19]:
#Imort libraries
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime
import matplotlib.pyplot as plt

In [20]:
iShares_World = pd.read_csv("Data//iShares MCSI World Index Data.csv", index_col=0, parse_dates=True, dayfirst=True)
iShares_SNP500 = pd.read_csv("Data//iShares SNP500 Index Data.csv", index_col=0, parse_dates=True, dayfirst=True)
Vanguard_Global_Bond = pd.read_csv("Data//Vanguard Global Bond Data.csv",index_col=0, parse_dates=True, dayfirst=True)
BoE_Rate = pd.read_csv("Data//BoE Interest Rate Data.csv", index_col=0, parse_dates=True, dayfirst=True)

C:\Users\allan\AppData\Local\Temp\ipykernel_5096\3056266843.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  iShares_World = pd.read_csv("Data//iShares MCSI World Index Data.csv", index_col=0, parse_dates=True, dayfirst=True)
C:\Users\allan\AppData\Local\Temp\ipykernel_5096\3056266843.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  iShares_SNP500 = pd.read_csv("Data//iShares SNP500 Index Data.csv", index_col=0, parse_dates=True, dayfirst=True)
C:\Users\allan\AppData\Local\Temp\ipykernel_5096\3056266843.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Vanguard_Global_Bond = pd.read_csv("Data//Vanguard Global Bond Data.csv",index_col=0, parse_dates=True, dayfirst=True)
C:\Users\allan\AppData\Local\Temp\ipykernel_5096\3056266843.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  BoE_Rate = pd.read_csv("Data//BoE Interest Rate Data.csv", index_col=0, parse_dates=True, dayfirst=True)

In [21]:
iShares_World = iShares_World.rename(columns={"Close": "iShares_World_Close"})
iShares_SNP500 = iShares_SNP500.rename(columns={"Close": "iShares_SNP500_Close"})
Vanguard_Global_Bond = Vanguard_Global_Bond.rename(columns={"Close": "Vanguard_Global_Bond_Close"})
BoE_Rate = BoE_Rate.rename(columns={"Rate": "BoE_Rate"})

In [22]:
iShares_World = iShares_World["iShares_World_Close"]
iShares_SNP500 = iShares_SNP500["iShares_SNP500_Close"]
Vanguard_Global_Bond = Vanguard_Global_Bond[ "Vanguard_Global_Bond_Close"]

In [23]:
merged = pd.merge(iShares_World,iShares_SNP500,on="Date")
merged = pd.merge(merged,Vanguard_Global_Bond,on="Date")
merged = pd.merge(merged,BoE_Rate,on="Date")

merged

,iShares_World_Close,iShares_SNP500_Close,Vanguard_Global_Bond_Close,BoE_Rate
Date,,,,
2025-07-01,"10,878.00","14,371.00",155.31,4.25
2025-06-01,"10,719.00","14,130.00",156.29,4.25
2025-05-01,"10,335.00","13,442.00",154.85,4.50
2025-04-01,"9,681.50","12,577.00",155.39,4.50
2025-03-01,"9,727.00","12,648.00",153.97,4.50
...,...,...,...,...
2014-05-01,"3,866.50","4,371.50",133.24,0.50
2014-04-01,"3,775.00","4,265.50",131.96,0.50
2014-03-01,"3,751.50","4,243.00",131.05,0.50
2014-02-01,"3,756.00","4,227.50",130.88,0.50
2014-01-01,"3,600.00","4,047.50",130.23,0.50

In [24]:
merged = merged.replace(',','', regex=True)
merged

,iShares_World_Close,iShares_SNP500_Close,Vanguard_Global_Bond_Close,BoE_Rate
Date,,,,
2025-07-01,10878.00,14371.00,155.31,4.25
2025-06-01,10719.00,14130.00,156.29,4.25
2025-05-01,10335.00,13442.00,154.85,4.50
2025-04-01,9681.50,12577.00,155.39,4.50
2025-03-01,9727.00,12648.00,153.97,4.50
...,...,...,...,...
2014-05-01,3866.50,4371.50,133.24,0.50
2014-04-01,3775.00,4265.50,131.96,0.50
2014-03-01,3751.50,4243.00,131.05,0.50
2014-02-01,3756.00,4227.50,130.88,0.50
2014-01-01,3600.00,4047.50,130.23,0.50

In [25]:
merged.dtypes

iShares_World_Close            object
iShares_SNP500_Close           object
Vanguard_Global_Bond_Close    float64
BoE_Rate                      float64
dtype: object

In [26]:
merged[["iShares_World_Close", "iShares_SNP500_Close"]]=merged[["iShares_World_Close", "iShares_SNP500_Close"]].astype(float)
merged.dtypes

iShares_World_Close           float64
iShares_SNP500_Close          float64
Vanguard_Global_Bond_Close    float64
BoE_Rate                      float64
dtype: object

In [27]:
date_range = pd.date_range('2015-01-01', '2024-12-31', freq='MS')
year_starts = pd.date_range('2015-01-01', '2024-12-31', freq='YS')

In [28]:
print(year_starts)

DatetimeIndex(['2015-01-01', '2016-01-01', '2017-01-01', '2018-01-01',
               '2019-01-01', '2020-01-01', '2021-01-01', '2022-01-01',
               '2023-01-01', '2024-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [29]:
def regular(iShares_World_prop,iShares_SNP500_prop,Vanguard_Global_Bond_prop,Cash_prop):

    #PROPORTIONS
    # iShares_World_prop = 0.3
    # iShares_SNP500_prop = 0.3
    # Vanguard_Global_Bond_prop = 0.3
    #Cash_prop = 0.1

    total_shares = 0
    total_invested = 0
    
    iShares_World_total_shares = 0
    iShares_SNP500_total_shares = 0
    Vanguard_Global_Bond_total_shares = 0
    Cash_total = 0
    
    df = pd.DataFrame({'Date': [], 'iShares_World_Value': [], 'iShares_SNP500_Value': [],
                       "Vanguard_Global_Bond_Value":[],"Cash_total":[], "Total_Value":[]}).set_index("Date")
    
    
    for date in date_range:
        #iShares World
        iShares_World_current_close = merged.loc[date,"iShares_World_Close"]
        iShares_World_total_shares =  iShares_World_total_shares + (100*iShares_World_prop/iShares_World_current_close)
        iShares_World_Value = iShares_World_total_shares*iShares_World_current_close
        
        #iShares SNP500
        iShares_SNP500_current_close = merged.loc[date,"iShares_SNP500_Close"]
        iShares_SNP500_total_shares =  iShares_SNP500_total_shares + (100*iShares_SNP500_prop/iShares_SNP500_current_close)
        iShares_SNP500_Value = iShares_SNP500_total_shares * iShares_SNP500_current_close
        
        #iShares SNP500
        Vanguard_Global_Bond_current_close = merged.loc[date,"Vanguard_Global_Bond_Close"]
        Vanguard_Global_Bond_total_shares =  Vanguard_Global_Bond_total_shares + (100*Vanguard_Global_Bond_prop/Vanguard_Global_Bond_current_close)
        Vanguard_Global_Bond_Value = Vanguard_Global_Bond_total_shares*Vanguard_Global_Bond_current_close
        
        #Cash
        BoE_current_rate = merged.loc[date,"BoE_Rate"]
        BoE_current_rate_monthly = BoE_current_rate/12
        Cash_total = (100*Cash_prop) + (BoE_current_rate_monthly*Cash_total/100) + Cash_total
        Total_Value=(iShares_World_total_shares*iShares_World_current_close + 
                     iShares_SNP500_total_shares*iShares_SNP500_current_close + 
                     Vanguard_Global_Bond_total_shares*Vanguard_Global_Bond_current_close + Cash_total)
    
        newrow = pd.DataFrame({'Date': [date], 'iShares_World_Value': [iShares_World_Value], 'iShares_SNP500_Value': [iShares_SNP500_Value],
        "Vanguard_Global_Bond_Value":[Vanguard_Global_Bond_Value],"Cash_total":[Cash_total], "Total_Value": [Total_Value]}).set_index("Date")
    
        df = pd.concat([df, newrow])
   
    
    results = df
    return results

In [30]:
def rebalancing_yearly(iShares_World_prop,iShares_SNP500_prop,Vanguard_Global_Bond_prop,Cash_prop):

    total_shares = 0
    total_invested = 0
    
    iShares_World_total_shares = 0
    iShares_SNP500_total_shares = 0
    Vanguard_Global_Bond_total_shares = 0
    Cash_total = 0
    Total_Value = 0
    
    df = pd.DataFrame({'Date': [], 'iShares_World_Value': [], 'iShares_SNP500_Value': [],
                       "Vanguard_Global_Bond_Value":[],"Cash_total":[], "Total_Value":[]}).set_index("Date")
    
    
    for date in date_range:
        if date in year_starts:
            #iShares World
            iShares_World_current_close = merged.loc[date,"iShares_World_Close"]
            iShares_World_total_shares =  (Total_Value+100)*iShares_World_prop/iShares_World_current_close
            iShares_World_Value = iShares_World_total_shares*iShares_World_current_close
            
            #iShares SNP500
            iShares_SNP500_current_close = merged.loc[date,"iShares_SNP500_Close"]
            iShares_SNP500_total_shares =  (Total_Value + 100)*iShares_SNP500_prop/iShares_SNP500_current_close
            iShares_SNP500_Value = iShares_SNP500_total_shares * iShares_SNP500_current_close
            
            #iShares SNP500
            Vanguard_Global_Bond_current_close = merged.loc[date,"Vanguard_Global_Bond_Close"]
            Vanguard_Global_Bond_total_shares = (Total_Value + 100)*Vanguard_Global_Bond_prop/Vanguard_Global_Bond_current_close
            Vanguard_Global_Bond_Value = Vanguard_Global_Bond_total_shares*Vanguard_Global_Bond_current_close
            
            #Cash
            BoE_current_rate = merged.loc[date,"BoE_Rate"]
            BoE_current_rate_monthly = BoE_current_rate/12
            Cash_total = (100+Total_Value)*Cash_prop

        else:
            #iShares World
            iShares_World_current_close = merged.loc[date,"iShares_World_Close"]
            iShares_World_total_shares =  iShares_World_total_shares + (100*iShares_World_prop/iShares_World_current_close)
            iShares_World_Value = iShares_World_total_shares*iShares_World_current_close
            
            #iShares SNP500
            iShares_SNP500_current_close = merged.loc[date,"iShares_SNP500_Close"]
            iShares_SNP500_total_shares =  iShares_SNP500_total_shares + (100*iShares_SNP500_prop/iShares_SNP500_current_close)
            iShares_SNP500_Value = iShares_SNP500_total_shares * iShares_SNP500_current_close
            
            #iShares SNP500
            Vanguard_Global_Bond_current_close = merged.loc[date,"Vanguard_Global_Bond_Close"]
            Vanguard_Global_Bond_total_shares =  Vanguard_Global_Bond_total_shares + (100*Vanguard_Global_Bond_prop/Vanguard_Global_Bond_current_close)
            Vanguard_Global_Bond_Value = Vanguard_Global_Bond_total_shares*Vanguard_Global_Bond_current_close
            
            #Cash
            BoE_current_rate = merged.loc[date,"BoE_Rate"]
            BoE_current_rate_monthly = BoE_current_rate/12
            Cash_total = (100*Cash_prop) + (BoE_current_rate_monthly*Cash_total/100) + Cash_total
        
        Total_Value=(iShares_World_total_shares*iShares_World_current_close + 
                         iShares_SNP500_total_shares*iShares_SNP500_current_close + 
                         Vanguard_Global_Bond_total_shares*Vanguard_Global_Bond_current_close + Cash_total)
        newrow = pd.DataFrame({'Date': [date], 'iShares_World_Value': [iShares_World_Value], 'iShares_SNP500_Value': [iShares_SNP500_Value],
            "Vanguard_Global_Bond_Value":[Vanguard_Global_Bond_Value],"Cash_total":[Cash_total], "Total_Value": [Total_Value]}).set_index("Date")        
        df = pd.concat([df, newrow])
   
    results = df
    return results

In [31]:
rebalancing_yearly(0.3,0.3,0.3,0.1).loc[year_starts]

,iShares_World_Value,iShares_SNP500_Value,Vanguard_Global_Bond_Value,Cash_total,Total_Value
2015-01-01,30.000000,30.000000,30.000000,10.000000,100.000000
2016-01-01,389.660234,389.660234,389.660234,129.886745,1298.867448
2017-01-01,806.870469,806.870469,806.870469,268.956823,2689.568231
2018-01-01,1276.766180,1276.766180,1276.766180,425.588727,4255.887266
2019-01-01,1534.652367,1534.652367,1534.652367,511.550789,5115.507890
2020-01-01,2101.234103,2101.234103,2101.234103,700.411368,7004.113678
2021-01-01,2678.986061,2678.986061,2678.986061,892.995354,8929.953536
2022-01-01,3468.997249,3468.997249,3468.997249,1156.332416,11563.324162
2023-01-01,3406.162870,3406.162870,3406.162870,1135.387623,11353.876234
2024-01-01,4183.290091,4183.290091,4183.290091,1394.430030,13944.300302

In [32]:
print(regular(0.7,0,0.2,0.1).iloc[-1][-1])

18520.81806061636

In [33]:
print(rebalancing_yearly(0.7,0,0.2,0.1).iloc[-1][-1])

17379.940849405404

In [34]:
def invest_yearly(iShares_World_prop,iShares_SNP500_prop,Vanguard_Global_Bond_prop,Cash_prop):

    total_shares = 0
    total_invested = 0
    
    iShares_World_total_shares = 0
    iShares_SNP500_total_shares = 0
    Vanguard_Global_Bond_total_shares = 0
    Cash_total = 0
    Total_Value = 0
    
    df = pd.DataFrame({'Date': [], 'iShares_World_Value': [], 'iShares_SNP500_Value': [],
                       "Vanguard_Global_Bond_Value":[],"Cash_total":[], "Total_Value":[]}).set_index("Date")
    
    
    for date in date_range:
        if date in year_starts:
            #iShares World
            iShares_World_current_close = merged.loc[date,"iShares_World_Close"]
            iShares_World_total_shares =  iShares_World_total_shares + (1200*iShares_World_prop/iShares_World_current_close)
            iShares_World_Value = iShares_World_total_shares*iShares_World_current_close
            
            #iShares SNP500
            iShares_SNP500_current_close = merged.loc[date,"iShares_SNP500_Close"]
            iShares_SNP500_total_shares =  iShares_SNP500_total_shares + (1200*iShares_SNP500_prop/iShares_SNP500_current_close)
            iShares_SNP500_Value = iShares_SNP500_total_shares * iShares_SNP500_current_close
            
            #iShares SNP500
            Vanguard_Global_Bond_current_close = merged.loc[date,"Vanguard_Global_Bond_Close"]
            Vanguard_Global_Bond_total_shares =  Vanguard_Global_Bond_total_shares + (1200*Vanguard_Global_Bond_prop/Vanguard_Global_Bond_current_close)
            Vanguard_Global_Bond_Value = Vanguard_Global_Bond_total_shares*Vanguard_Global_Bond_current_close
            
            #Cash
            BoE_current_rate = merged.loc[date,"BoE_Rate"]
            BoE_current_rate_monthly = BoE_current_rate/12
            Cash_total = (1200*Cash_prop) + (BoE_current_rate_monthly*Cash_total/100) + Cash_total
        else:
            #iShares World
            iShares_World_current_close = merged.loc[date,"iShares_World_Close"]
            iShares_World_Value = iShares_World_total_shares*iShares_World_current_close
            
            #iShares SNP500
            iShares_SNP500_current_close = merged.loc[date,"iShares_SNP500_Close"]
            iShares_SNP500_Value = iShares_SNP500_total_shares * iShares_SNP500_current_close
            
            #iShares SNP500
            Vanguard_Global_Bond_current_close = merged.loc[date,"Vanguard_Global_Bond_Close"]
            Vanguard_Global_Bond_Value = Vanguard_Global_Bond_total_shares*Vanguard_Global_Bond_current_close
            
            #Cash
            BoE_current_rate = merged.loc[date,"BoE_Rate"]
            BoE_current_rate_monthly = BoE_current_rate/12
            Cash_total = (BoE_current_rate_monthly*Cash_total/100) + Cash_total            
        
        Total_Value=(iShares_World_total_shares*iShares_World_current_close + 
                         iShares_SNP500_total_shares*iShares_SNP500_current_close + 
                         Vanguard_Global_Bond_total_shares*Vanguard_Global_Bond_current_close + Cash_total)
        newrow = pd.DataFrame({'Date': [date], 'iShares_World_Value': [iShares_World_Value], 'iShares_SNP500_Value': [iShares_SNP500_Value],
                                "Vanguard_Global_Bond_Value":[Vanguard_Global_Bond_Value],"Cash_total":[Cash_total], 
                               "Total_Value": [Total_Value]}).set_index("Date")        
        df = pd.concat([df, newrow])
   
    results = df
    return results

In [35]:
print(regular(0.7,0,0.2,0.1).iloc[-1][-1])
print(invest_yearly(0.7,0,0.2,0.1).iloc[-1][-1])

18520.81806061636
19118.225464077335

In [36]:
print(invest_yearly(0.7,0,0.2,0.1).tail(20))

            iShares_World_Value  iShares_SNP500_Value  \
Date
2023-05-01         10460.333151                   0.0
2023-06-01         11066.708695                   0.0
2023-07-01         11390.487674                   0.0
2023-08-01         11221.497768                   0.0
2023-09-01         10822.454378                   0.0
2023-10-01         10461.043193                   0.0
2023-11-01         11292.501930                   0.0
2023-12-01         11825.033146                   0.0
2024-01-01         12919.228046                   0.0
2024-02-01         13412.850091                   0.0
2024-03-01         13889.764928                   0.0
2024-04-01         13519.928103                   0.0
2024-05-01         13856.350513                   0.0
2024-06-01         14410.726040                   0.0
2024-07-01         14503.375101                   0.0
2024-08-01         14679.560200                   0.0
2024-09-01         14914.979944                   0.0
2024-10-01         14872.452507                   0.0
2024-11-01         15568.079881                   0.0
2024-12-01         15343.291996                   0.0

            Vanguard_Global_Bond_Value   Cash_total   Total_Value
Date
2023-05-01                 2067.623010  1122.512358  13650.468519
2023-06-01                 2062.439915  1126.721780  14255.870390
2023-07-01                 2062.439915  1131.416454  14584.344043
2023-08-01                 2056.824895  1136.130689  14414.453352
2023-09-01                 2014.208336  1141.101261  13977.763974
2023-10-01                 1998.083151  1146.093579  13605.219923
2023-11-01                 2070.214557  1151.107738  14513.824226
2023-12-01                 2139.610442  1156.143835  15120.787422
2024-01-01                 2373.275548  1281.201964  16573.705557
2024-02-01                 2350.531056  1286.807222  17050.188369
2024-03-01                 2371.513650  1292.437004  17553.715582
2024-04-01                 2327.306047  1298.091416  17145.325567
2024-05-01                 2348.448814  1303.770566  17508.569893
2024-06-01                 2366.708476  1309.474562  18086.909078
2024-07-01                 2415.240736  1315.203513  18233.819350
2024-08-01                 2440.708159  1320.683528  18440.951887
2024-09-01                 2470.019722  1326.186376  18711.186042
2024-10-01                 2429.496086  1331.712153  18633.660745
2024-11-01                 2461.530581  1337.260953  19366.871415
2024-12-01                 2432.379190  1342.554278  19118.225464